body
{
  margin: 0 0 0 0;
  background-color: white;
}

.tete
{
  display: flex;
}

.titre
{
  width: 25%;
}


.tete h1
{
  margin-left:10%;
  color: black;
}

.nav
{
  display: flex;
  width: 50%;
  margin-left: 10%;
  margin-top:2%;
}

.nav1
{
  margin-right: 10%;
  font-size: 20px;
}

.tete a
{
  color: grey;
  text-decoration: none;
}


.nav1 a:hover
{
  color: red;
  border-style: solid;
  border-width: thin;
}

.code
{
  width: 70%;
  background-color: gainsboro;
  color: black;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*font-family: monospace;*/
}

.codet
{
  background-color: gainsboro;
}

.bldoc
{
  display: flex;

}

.bldoc a
{
  text-decoration: none;
}

.bodoc
{
  background-color: rgb(26, 78, 126);
  color: white;
  width: 170px;
  text-align: center;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 12px #555;
}

.bodoc:hover
{
  background-color: rgb(247, 111, 111);
  color: black;
}




.corps
{
  display: flex;
  width: 97%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10%;
  margin-top: 1%;
}

.corpsg
{
  width: 80%;

}

.corpsd
{
  width: 20%;
  height: 500px;
  padding-top: 5px;
  padding-left: 15px;
  margin-left: 10px;
  background-color: black;
  color: white;
  border-radius: 30px;
  box-shadow: 10px 10px 12px #555;
}

.corpsd a
{
  text-decoration: none;
  color: grey;
}

.corpsd a:hover
{
  color: red;
  border-bottom-style: solid;
  border-width: thin;
}

.prepcam
{
  display: flex;
}

.prepcam2
{
  margin-left: 100px;
}

.preppir
{
  display: flex;
}

.preppir2
{
  margin-left: 100px;
}

.imgconfig
{
  display: flex;
}

.pied
{
  text-align: center;
  margin-bottom: 1%;
}

.pied a
{
  color: grey;
  text-decoration: none;
  font-size: 15px;
}

.pied a:hover
{
  color: blue;
  border-bottom-style: dotted;
  border-bottom-width: thin;
}
