body
{
  margin: 0 0 0 0;
  background-color: white;
}

.tete
{
  display: flex;
}

.titre
{
  width: 25%;
}


.tete h1
{
  margin-left:10%;
  color: black;
}

.nav
{
  display: flex;
  width: 50%;
  margin-left: 10%;
  margin-top:2%;
}

.nav1
{
  margin-right: 10%;
  font-size: 20px;
}

.tete a
{
  color: grey;
  text-decoration: none;
}


.nav1 a:hover
{
  color: red;
  border-style: solid;
  border-width: thin;
}



.corps
{

  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10%;
  margin-top: 1%;
}

.pied
{
  text-align: center;
  margin-bottom: 1%;
}

.pied a
{
  color: grey;
  text-decoration: none;
  font-size: 15px;
}

.pied a:hover
{
  color: blue;
  border-bottom-style: dotted;
  border-bottom-width: thin;
}
